:root {
    --indent: 8px;
    --fontSize: 18px;
    --txtColor: #222;
    --lk: #0046CC;
    --lk_hover: #FA5F5F;
    --lk_visited: #6a1b9a;
    --mark: #ffdb4d;
    --outline: #42a5f5;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;

    font-weight: normal;
    font-size: 18px;
    font-size: var(--fontSize);
    line-height: 1.15;
    line-height: calc(var(--indent) * 3);
    vertical-align: baseline;
    font-style: normal;

    border: 0;
    box-sizing: border-box;

    /* предотвращаем увеличение шрифта в iOS */
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    
    /* плавная прокрутка */
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px; /* min screen size */
    height: 100%;
    margin: 0;
    padding: 0;

    font-weight: inherit;
    font-size: 100%;
    line-height: inherit;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Arial", sans-serif;
    vertical-align: baseline;
    color: #222;
    color: var(--txtColor);
    font-style: inherit;

    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

/* предупрждение, что js не работает */
.no-js {
    padding: calc(var(--indent) * 2);
    color: #ffffff;
    background: red;
    -webkit-user-select: none;
            user-select: none; /* запрещаем выделять сообщение об ошибке */
}

/* ссылка пропустить меню */
.skiplink {
    display: inline-block;
    position: absolute;
    z-index: 100; /* поверх всех окон */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    user-select: none; /*запрещаем выделение*/
}

.skiplink:active,
.skiplink:focus {
    top: 15px;
    left: 15px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 10px 20px;
    overflow: visible;
    color: #fff !important;
    white-space: inherit;
    background: #000;
    clip: auto;
    clip-path: none;
}

/* ссылки */
a {
    outline: 0;
}

a:link {
    color: var(--lk);
}

a:visited {
    color: var(--lk_visited);
}

a:hover {
    color: var(--lk_hover);
}

a:active {
    color: var(--lk_hover);
    text-decoration: none;
}

body.tabbing a:focus:not([tabindex="-1"]) {
    color: var(--lk_hover);
    text-decoration: none;
    border-bottom-color: transparent;
    outline: 4px solid var(--outline);
    outline-offset: 2px;
    transition: none;
}



/* пользователь хочет минимизировать анимации */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation: none !important;
        background-attachment: initial !important;
        scroll-behavior: initial !important;
        transition: none !important;
    }
}