:root {
    --indent: 8px;
    --fontSize: 18px;
    --txtColor: #222;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;

    font-weight: normal;
    font-size: 18px;
    font-size: var(--fontSize);
    line-height: 1.15;
    line-height: calc(var(--indent) * 3);
    vertical-align: baseline;
    font-style: normal;

    border: 0;

    /* предотвращаем увеличение шрифта в iOS */
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

/* пользователь хочет минимизировать анимации */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-width: 320px; /* min screen size */
    height: 100%;
    margin: 0;
    padding: 0;

    font-weight: inherit;
    font-size: 100%;
    line-height: inherit;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Arial", sans-serif;
    vertical-align: baseline;
    color: #222;
    color: var(--txtColor);
    font-style: inherit;

    border: 0;
}